<nav class="navbar navbar-expand-lg  navbar-dark bg-dark ">
  <a class="navbar-brand" style="font-size: 24px;" href="#">INF354 Assignment 1</a>
  
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item" routerLinkActive="active">
      <a class="button" routerLink="/courses">Courses</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="button" routerLink="/add-course">Add Course</a>
    </li>
  </ul>
</nav>

  <h1>Add Course</h1>
  
  <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name" class="form-control">
      </div>
    
      <div class="form-group">
        <label for="duration">Duration</label>
        <input type="text" id="duration" formControlName="duration" class="form-control">
      </div>
    
      <div class="form-group">
          <label for="description">Description</label>
          <input type="text" id="description" formControlName="description" class="form-control">
        </div>
      
    
        <button class="submit" [disabled]="!courseForm.valid">Add</button>
      <button class="cancel" (click)="onCancel()">Cancel</button>
  
    </form>
    